body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 150px;
}

button {
    background-color: #0078D4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005ea6;
}
